nav{
    img{
    height: 2em;
    width: 3.5em;
    
    }
    .navbar-nav{
        transform: translateX(305%);

    }
    .logo{
        transform: translateX(30%);
        border-radius: 25px;
    }
    span{
        color: rgb(255, 255, 255);
    }
    .airlines{
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        text-decoration: none;
        color: rgb(207, 207, 7);
    }
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(27,27,28,0.5858718487394958) 32%, rgba(0,212,255,1) 100%);
    
}
.nav-link{
    background-color: rgb(14, 7, 7);
    opacity: 75%;
    color: rgb(206, 7, 7);
    border-radius: 25px;
    font-weight: bold;
}

body{
    
    background-image: url("/images/plane.jpg");
    background-size: cover;
    
    
    
}
section{
    margin: 5em;
    margin-top: 10em;
}

html{
    scroll-behavior: smooth;
}
.cons{
  
  display: flex;
  transform: translate(0,0) scale(0.1);
  border-radius: 50px;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  top: 0; transition: transform 0.4s,top 0.4s;
//   height: 200px;
//   width: 100px;
  
}

.open-popup{
    visibility: visible;
    transform: translate(0,0.5em) scale(1);
}
.show-btn{
    visibility: visible;
    transform: translate(0,0.5em) scale(1);
}
.pop-btn .btn{

    transform: translate(35em,27em);
    background :linear-gradient(135deg, #71b7e6, #9b59b6);
    font-weight: 500;
    border-radius: 15px;
    color: white;
}

.caption{
    color:beige;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transform: translate(2em,3.5em);
}
